<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>消息盒子测试</title>

    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <link href="/static/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/site.css?20191127=7.1.0" rel="stylesheet">
    <link href="/static/codemirror/lib/codemirror.css" rel="stylesheet">

</head>
<body>

    <script src="/static/js/jquery-1.10.2.min.js"></script>
            <script src="/static/js/bootstrap.min.js"></script>
            <script src="/static/language/Simplified_Chinese/lan.js?date=7.1.0"></script>
            <script src="/static/layer/layer.js?date=7.1.0"></script>
            <script type="text/javascript" src="/static/laydate/laydate.js?date=20180301"></script>
            <script src="/static/js/jquery.fly.min.js"></script>
            <script src="/static/codemirror/lib/codemirror.js"></script>
            <script src="/static/codemirror/addon/edit/editAll.js"></script>
            <script src="/static/codemirror/mode/modeAll.js"></script>
            <script src="/static/codemirror/addon/dialog/dialog.js"></script>
            <script src="/static/codemirror/addon/search/search.js"></script>
            <script src="/static/codemirror/addon/scroll/annotatescrollbar.js"></script>
            <script src="/static/js/jquery.qrcode.min.js"></script>
            <script src="/static/js/socket.io.min.js"></script>
            <link rel="stylesheet" href="/static/build/xterm.min.css" />
            <link rel="stylesheet" href="/static/build/addons/fullscreen/fullscreen.min.css" />
            <script src="/static/build/xterm.min.js"></script>
            <script src="/static/build/addons/attach/attach.min.js"></script>
            <script src="/static/build/addons/fit/fit.min.js"></script>
            <script src="/static/build/addons/fullscreen/fullscreen.min.js"></script>
            <script src="/static/build/addons/search/search.min.js"></script>
            <script src="/static/build/addons/winptyCompat/winptyCompat.js"></script>
            <script type="text/javascript" src="/static/js/clipboard.min.js"></script>
            <script src="/static/js/public.js?version20200116=7.1.0"></script>
            <script src="/static/js/public_backup.js?version20200116=7.1.0"></script>
            <script src="/static/js/bt_upload.js?version=7.1.0"></script>

{% block content %}
{% endblock content%}

{% block scripts %}
{% endblock scripts%}

</body>
</html>